@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&family=Montserrat:wght@300;400;500;600&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: #000264;
    font-family: 'Montserrat', 'BioRhyme', calibri;
    position: relative;
}
/* .html{
    width : 0;
} */

/* *{
    box-sizing: border-box;
} */
/* .flexBox {
    
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}

.flexBox p {
    padding-top: 2%;
}

.flexBox div {
    padding: 1%;
} */

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
    border: none;
}
.logo{
    font-family: 'BioRhyme';
    color: #000264;
    /* font-weight: 500;
    font-size: 0.9rem; */
}
.main{
    width: 100%;
    height: 768px;
    position: relative;
    background: no-repeat;
    background-size: cover;
    background-image: url("./assets/Para2-min.jpg");
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0,0, 0, 4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
}
nav ul{
    display: flex;
}
.active{
    background-color: #000266;
    color:#FFFFFF;
	box-shadow: 5px 10px 30px rgba(64, 88, 198, 0.411);
	transition: all ease 0.2s;
}
nav ul li a{
    font-family: calibri;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #242424;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: .4s ease-in-out;

}
/* .logo{
    font-family: calibri;
    color:  #000266;
    font-weight: 500;
    font-size: 0.9rem;
    border-bottom: 2px solid  #000266;
} */
nav ul li a:hover{
    background-color:  #000266;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(64,88, 198,0.4);
    transition: all ease 0.2s;
}
nav .menu-btn, .menu-icon{
    display: none;
}
.name{
    /* background-color: #000264; */
    font-family: 'Montserrat';
    width: 400px;
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translate(-20%, -50%);
    /* z-index: 1; */
}
.name span{
    color: #d0ff00;
    border-bottom: 2px solid #d0ff00;
}
.name p{
    font-size: 1.2rem;
}

.name .details{
    color: #000266;
}
.name .heading{
    color: #000266;
}
.name h1{
    font-family: 'Montserrat';
    font-size: 46px;
    margin: 0px;
    letter-spacing: 3px;
    color:#000266;
}
.header-btns{
    display: flex;
    margin-top: 40px;
}
.hire-me-btn{
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0ff00;
    box-shadow: 5px 10px 30px rgba(255, 251,2, 0.2);
    border-radius: 10px;
    color: #000266;
}

.hire-me-btn:hover{
    background-color: #fff;
    transition: all ease 0.4s;
    color: #000266;
}

.cv-btn{
	font-size: 14px;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    margin-left: 20px;
}

.cv-btn:hover{
	background-color: #ffffff;
    transition: all ease 0.5s;
    border: 1px solid  #000266;
    color: #000266;
}

.arrow{
align-self: end;
width: 50%;
height: 8%;
/* margin-bottom: 1em; */
position: absolute;
bottom:10px;
left: -3%;
border-right: 2px solid  #d0ff00;
animation: arrow-animation ease 1.5s;
}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #d0ff00 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}
@keyframes arrow-animation{
    0%{
        bottom: 70px;
        opacity: 0.2;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}

.about{
width:100%;
height: 100vh;
background-color:#ffffff;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
/* padding: 50px 5% 0px 5%; */
position: relative;
}
.about-text{
	width: 50%;
}
.about-text h2{
	font-size: 2rem;
	color:#000266;
	font-weight: 400;
}
.about-text h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:#000266;
	
}
.about-text button{
	width: 140px;
	height: 40px;
	border-radius: 10px;
	border: none;
    outline: none;
    color: #ffffff;
	background-color:#000266;
}
.about-text button:hover{
	background-color: #d0ff00;
    transition: all ease 0.3s;
    color: #000266;
}
.about-model img{
    height: 400px;
    width: 700px;
    padding: 15px;
}


.contact{
    background-color: #ffffff;
    display:flex;
    height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin:10px 0px;
    margin-top: 0px;
    padding: 30px 0px;
}
.contact h3{
	font-size:2.5rem;
	margin:20px;
}
.contact-input{
	width:550px;
	height:50px;
	background-color:#FFFFFF;
	display:inline-block;
    justify-content: center;
    margin-bottom: 40px;
	/* border-radius: 50px; */
	/* box-shadow: 2px 2px 30px rgba(0,0,0,0.15); */
}
.fName{
    /* background-color: orangered; */
    text-emphasis: none;
    color:#242425;
    padding: 1px 2px;
    width:550px;
    text-align: center;
}
.contact-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
    color:#242425;
    /* background-color: orangered; */
    margin-bottom: 20px;
}
/* .contact-input a{
	
} */

/* .contact-input a:hover{
    background-color: #d0ff00;
    transition: all ease 0.3s;
    color: #000266;
} */

.cv-btn-contact button{
    /* display: flex; */
    margin-top: 40px;
    width:200px;
	height:35px;
	background-color: #000266;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	/* margin: auto 10px; */
	border-radius: 20px;
    font-weight: 500;
    border-style: transparent;
	
}

.cv-btn-contact button:hover{
	background-color:  #d0ff00;
    transition: all ease 0.5s;
    border: 1px solid  #000266;
    color: #000266;
}
.contact img{
    width: 200px;
    height: 250px;
}




@media(max-width:1190px){
	.main{
		background-size:  cover ;
		/* height: 900px; */
	}
	.name{
		left: 10%;
		top: 45%;
		transform: translate(-10%,-50%);
    }
    .about{
        height: 50vh;
       
    }
	.about-model img{
        height:400px;
        width: 500px;
    }
    .services{
		height:auto;
    }
    .b-container{
		flex-wrap: wrap;
	}
    .service-box{
		flex-grow: 1;
	}
	.service-box-img img{
		object-fit:cover;
	}

}

@media(max-width: 990px){
	.main{
        background-size: cover;
        /* background-image: url("./assets/Para2-min.jpg"); */
		
	}
	.name{
		left: 5%;
		top: 40%;
        transform: translate(-50%,-50%);
        width: 300px;
    }
    .about-model img{
        height:300px;
        width: 400px;
    }
	/* .about-model{
        display: none;
	} */
	.about{
        height: 60vh;
		justify-content: center;
        padding-top: 0px;
        margin: 5px;
	}
	.about-text{
		width: 100%;
	}
	.about-text h1{
		font-size:4rem;
    }

	
}
@media(max-width:600px){

    .main{
        background-size: 800px 800px;
    }
    .name{
		left: 3%;
		top: 35%;
        transform: translate(-50%,-50%);
        
    }

    .name p{
        font-size: 1rem;
    }
    .arrow{
        width: 90%;
    }
    .about{
		justify-content: center;
        padding-top: 0px;
        height: 100vh;
        width: 100vw;
        padding: 0px ;
    }
    .about-model img{
        height:200px;
        width: 200px;
        margin-left: 2px;
    }
    .contact-input{
        width: 260px;
    }
}

@media(max-width:400px){
	/* .name{
		width:60%;
    } */
    .main{
        background-size: 700px 800px;
        /* background-size: cover; */
        /* position: none; */
    }

	.name{
		left: 2%;
		top: 30%;
		transform: translate(-50%,-50%);
    }
    .name p{
        font-size: 1rem;
    }
    .arrow{
        width: 90%;
    }

    .about-model img{
        height:200px;
        width: 200px;
        margin-left: 2px;
    }
	/* .about-model{
		display: none;
	} */
	.about{
        display: flex;
        /* float: left; */
		justify-content: center;
        padding-top: 0px;
        height: 100vh;
        width: 100vw;
        padding: 5px ;
        margin: 0px;
    }
    .about-text button{
        width: 120px;
        /* top: 90%; */
        /* padding-top: 20px; */
    }
	.about-text{
        width: 90%;
        
	}
	.about-text h1{
		font-size:4rem;
    }
    
    .about-text p{
        font-size: .5rem;
        /* height: 20vh; */
        
    }
    

    .contact{
        height: 100vh;
        padding: 10px;
    }

    .contact-input{
        width: 260px;
    }
    /* .html{
        width: 400px;
    } */

}
    
@media(max-width:1100px){.menu-icon{
    display:block;}
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
        }
        .logo img{
            width:70px;
        }
        .menu{
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#FFFFFF;
            border-bottom:4px solid #1db096;
            width:100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border:1px solid rgba(38,38,38,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            user-select: none;
        }
        nav .menu-icon .nav-icon{
            background-color:#333333;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:18px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:#333;
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:5px;
        }
        nav .menu-icon .nav-icon:after{
            top:-5px;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
        }
        nav .menu-btn{
            display:none;
        } 
        nav .menu-btn:checked ~ .menu{
            display:block;
        }
    }
        @media(max-width:400px){
            .s-box{
                width: 100%;
                height:400px;
            }
        }